include ../../utils/images

mixin block-header(primary,secondary)
    .block-header
        h2.primary-header=primary
        if secondary !== ""
            h3.secondary-header=secondary
        else


mixin about
    .about
        .background-img.background-img-first
            +webpImg('lazy','img/background-about-1','png','background-img')
        .background-img.background-img-second
            +webpImg('lazy','img/background-about-2','png','background-img')
        .background-img.background-img-third
            +webpImg('lazy','img/background-about-3','png','background-img')
        h2.about__header Your Blockchain Developers
        .about__content
            .about__content-item
                p.about__description Since 2017 Rock’n’block developed&nbsp;
                    b 250+
                    | &nbsp; solutions of different complexity and we are ready to bring your idea to life
                section.about__buttons
                    a(href="https://calendly.com/alex-tka" rel="noreferrer" target="_blank").about__buttons-call.btn.btn-hollow.btn-rounded Book a call
                    a(href="#contact-us").about__buttons-contact.btn.btn-orange.btn-rounded Contact Us
                        .icon-arrow-right.icon

            .about__content-item
                .about__achievements
                    +webpImg('lazy','img/achievements','png',`our achievements`)

mixin why-us
    .why-us
        +block-header("Why Us?","")
        .why-us__content
            +why-us__card("250+","projects","created on-a-turn-key basis")
            +why-us__card("15000+","","smart contracts deployed")
            +why-us__card("50+","team","members (mostly developers)")
            +why-us__card("1 Bn+","dollar","capitalization of the  projects we have built")
            +why-us__card("15+","years","of development experience")
            +why-us__card("ANY","blockchain","integration with and developent")

mixin why-us__card(numbers,units,secondaryText)
    .why-us__card
        p.why-us__card__primary
            span.why-us__card-numbers=numbers
            span.why-us__card-units=units
        p.why-us__card__secondary=secondaryText

mixin areas-of-expertise
    a(name="services")
    .areas-of-expertise
        .background-img
            +webpImg('lazy','img/background-areas','png','background-img')
        +block-header("Areas of Expertise","Services")
        .areas-of-expertise__cards
            +areas__card("blockchain","blockchain","BLOCKCHAIN","Smart contracts of any complexity on any blockchain. From custom token creation to decentralized exchange on-a-turn-key basis. ")
            +areas__card("bridge","layer two","LAYER TWO","From multiple blockchain bridges to complete Layer 2 solution tailored for your project. ")
            +areas__card("mobile","mobile and web","MOBILE AND WEB:","Android/iOS applications; Project management interfaces; Investors cabinets; top-notch UX/UI, etc.")
            +areas__card("wallet","wallets","WALLETS","High security level browser and mobile crypto wallets with generation system, private keys storage, stable (and other types) coin support and crypto/fiat acquiring. ")
            +areas__card("audit","audit","AUDIT","Full review of your system’s architecture and codebase. We make sure, that your distributed systems work as you intended.")
            +areas__card("documentation","documentation","DOCUMENTATION","Project architecture development. Technical specifications and decompositions of your ideas. Whitepapers, light papers etc.")

mixin areas__card(source,alt,title,description)
    .areas-of-expertise__card
        .icon-container
            div(class=`icon-${source}`).icon
        h3.areas-of-expertise__card-name=title
        p.areas-of-expertise__card-description=description

mixin what-we-do-best
    .what-we-do-best
        +block-header("What we do Best","We are ready to take on a blockchain project of any complexity, from the stage of developing an idea to the final implementation. Here are the most popular requests we receive regularly:")
        .what-we-do-best__cards
            +what-we-do-best__card("icon-do-best-smart-contracts","crypto icons","Smart contracts on various blockchains")
            +what-we-do-best__card("icon-do-best-bank","bank icon","Custom token creation (inc. NFTs) ")
            +what-we-do-best__card("icon-do-best-swap","swap icon","Token SWAP")
            +what-we-do-best__card("icon-do-best-rock","rock sign icon","Airdrop")
            +what-we-do-best__card("icon-do-best-bridges","Bridges icon","Bridges development ")
            +what-we-do-best__card("icon-do-best-l2","L2 icon","L2 implementation ")
            +what-we-do-best__card("icon-do-best-goldbag","goldbag icon","Crypto-processing ")
            +what-we-do-best__card("icon-do-best-schedule","schedule icon","Payment implementation (inc. fiat)  dashbord")
            +what-we-do-best__card("icon-do-best-moon","moon icon","Moon Pay integration ")
            +what-we-do-best__card("icon-do-best-tangem","phone with card icon","Tangem support ")
            +what-we-do-best__card("icon-do-best-DAPPs","DAPPs icon","DAPPs development ")
            +what-we-do-best__card("icon-do-best-anon","anon icon","Anonymized exchange ")
            +what-we-do-best__card("icon-do-best-OTC","graph icon","Decentralized OTC development")
            +what-we-do-best__card("icon-do-best-wallet","wallet icon","Multiple wallets management tool")
            +what-we-do-best__card("icon-do-best-shield","shield icon","Explorers for private blockchain")
            +what-we-do-best__card("icon-do-best-contract","contract icon","Smart contract audit")
            +what-we-do-best__card("icon-do-best-phone","phone icon","iOS / Androud development")
            +what-we-do-best__card("icon-do-best-lightning","lightning icon","etc.")

mixin what-we-do-best__card(source,alt,description)
    .what-we-do-best__card
        +webpImg('lazy','img/' + source,'png',alt)
        p.what-we-do-best__description=description



mixin case-studies
    a(name="cases")
    .case-studies
        +block-header("Case Studies","")
        .case-studies__tabs
            .tabs__tablinks.tablinks
                button(type='button' id='case-studies__first-tab__button' onclick='handleCaseStudiesClick(event,"first")').case-studies__tablinks__link.tablinks__link.link-active Smart contracts
                button(type='button' id='case-studies__second-tab__button' onclick='handleCaseStudiesClick(event,"second")').case-studies__tablinks__link.tablinks__link web/mobile development
            #case-studies__first-tab.case-studies__content
                +case-studies__content("logo-axion","axion logo","Axion Dashboard","1-1")
                +case-studies__content("logo-pion","pion logo","Pion","1-2")
                +case-studies__content("logo-crypto-lanfing","lanfing logo","Project's Dashboard","1-3")
                +case-studies__content("logo-blockchain-scanners","blockchain scanners logo","Yeils Farming","1-4")
                +case-studies__content("logo-axion-dashboard","axion dashboard logo","Crypto Landing/ Borrowing","1-5")
            div(style='display:none')#case-studies__second-tab.case-studies__content
                +case-studies__content("logo-ducatus","ducatus logo","DUCATUS Wallet","2-1")
                +case-studies__content("logo-census","census logo","Census Wallet","2-2")
                +case-studies__content("logo-quras","quras logo","QURAS","2-3")
                //+case-studies__content("logo-jetcoin","jetcoin logo","JETCOIN","2-4")
                +case-studies__content("logo-hex","hex logo","HEX","2-5")
        .case-studies__dropdown.dropdown#case-studies__dropdown-2-1
            h3.dropdown__title DUCATUS Wallet
            .dropdown__img
                +webpImg('lazy','img/case-ducatus-1','png','case ducatus 1')
                +webpImg('lazy','img/case-ducatus-2','png','case ducatus 2')
                +webpImg('lazy','img/case-ducatus-3','png','case ducatus 3')
            .dropdown__insights
                .dropdown__insights-insight.insight-features
                    h5.insight__title Features:
                    -var features = ['Blockchain developement', 'Mobile wallet application development', 'Crowdfunding platform', 'Online stores with crypto support'];
                    ul.gray-list
                        each feature in features
                            li.features__item.gray-list__item=feature
                .dropdown__insights-insight.insight-stacks
                    h5.insight__title Stacks:
                    -var stacks = ['Python', 'Solidity', 'JavaScript', 'C'];
                    ul.gray-list
                        each stack in stacks
                            li.features__item.gray-list__item=stack
        div(style='display:none').case-studies__dropdown.dropdown#case-studies__dropdown-2-2
            h3.dropdown__title Census Wallet
            .dropdown__img
                +webpImg('lazy','img/case-census-1','png','case census 1')
                +webpImg('lazy','img/case-census-2','png','case census 2')
                +webpImg('lazy','img/case-census-3','png','case census 3')
            .dropdown__insights
                .dropdown__insights-insight.insight-features
                    h5.insight__title Features:
                    -var features = ['Tangem integration', 'Open Finance', 'Loans', 'Staking', 'Digital Assets Investments'];
                    ul.gray-list
                        each feature in features
                            li.features__item.gray-list__item=feature
                .dropdown__insights-insight.insight-stacks
                    h5.insight__title Stacks:
                    -var stacks = [];
                    ul.gray-list
                        each stack in stacks
                            li.features__item.gray-list__item=stack
        div(style='display:none').case-studies__dropdown.dropdown#case-studies__dropdown-2-3
            h3.dropdown__title QURAS wallet
            .dropdown__img
                +webpImg('lazy','img/case-quras-1','png','case quras 1')
                +webpImg('lazy','img/case-quras-2','png','case quras 2')
                +webpImg('lazy','img/case-quras-3','png','case quras 3')
            .dropdown__insights
                .dropdown__insights-insight.insight-features
                    h5.insight__title Features:
                    -var features = ['Private blockchain integrations', 'Cross-blockchain swap'];
                    ul.gray-list
                        each feature in features
                            li.features__item.gray-list__item=feature
                .dropdown__insights-insight.insight-stacks
                    h5.insight__title Stacks:
                    -var stacks = [];
                    ul.gray-list
                        each stack in stacks
                            li.features__item.gray-list__item=stack
        //div(style='display:none').case-studies__dropdown.dropdown#case-studies__dropdown-2-4
        //    h3.dropdown__title JETCOIN
        //    .dropdown__img
        //        +webpImg('lazy','img/case-jetcoin-1','png','case jetcoin 1')
        //        +webpImg('lazy','img/case-jetcoin-2','png','case jetcoin 2')
        //        +webpImg('lazy','img/case-jetcoin-3','png','case jetcoin 3')
        //    .dropdown__insights
        //        .dropdown__insights-insight.insight-features
        //            h5.insight__title Features:
        //            -var features = ['QR'];
        //            ul.gray-list
        //                each feature in features
        //                    li.features__item.gray-list__item=feature
        //        .dropdown__insights-insight.insight-stacks
        //            h5.insight__title Stacks:
        //            -var stacks = ['Smart Contract Integration'];
        //            ul.gray-list
        //                each stack in stacks
        //                    li.features__item.gray-list__item=stack
        div(style='display:none').case-studies__dropdown.dropdown#case-studies__dropdown-2-5
            h3.dropdown__title HEX
            .dropdown__img
                +webpImg('lazy','img/case-hex-1','png','case hex 1')
                +webpImg('lazy','img/case-hex-2','png','case hex 2')
                +webpImg('lazy','img/case-hex-3','png','case hex 3')
            .dropdown__insights
                .dropdown__insights-insight.insight-features
                    h5.insight__title Features:
                    -var features = ['QR', 'Smart contract integration'];
                    ul.gray-list
                        each feature in features
                            li.features__item.gray-list__item=feature
                .dropdown__insights-insight.insight-stacks


        script.
            // script for tabs switch
            function handleCaseStudiesClick(event, tabIndex) {
                // Declare all variables
                let i, tabContent, tabLinks;

                // Get all elements with class="tabContent" and hide them
                tabContent = document.getElementsByClassName("case-studies__content");
                for (i = 0; i < tabContent.length; i++) {
                    tabContent[i].style.display = "none";
                }

                // Get all elements with class="tabLinks" and remove the class "active"
                tabLinks = document.getElementsByClassName("case-studies__tablinks__link");
                for (i = 0; i < tabLinks.length; i++) {
                    tabLinks[i].className = tabLinks[i].className.replace(" link-active", "");
                }

                // Show the current tab, and add an "active" class to the button that opened the tab
                document.getElementById(`case-studies__${tabIndex}-tab`).style.display = "flex";
                event.currentTarget.className += " link-active";
            }
            // script for tabs switch
            function handleSmartContractsSwitch(event, tabIndex) {
                // Declare all variables
                let i, tabContent, tabLinks;
                // Get all elements with class="tabContent" and hide them
                tabContent = document.getElementsByClassName("case-studies__dropdown");
                for (i = 0; i < tabContent.length; i++) {
                    tabContent[i].style.display = "none";
                }

                // Get all elements with class="tabLinks" and remove the class "active"
                tabLinks = document.getElementsByClassName("case-studies__content-item");
                for (i = 0; i < tabLinks.length; i++) {
                    tabLinks[i].className = tabLinks[i].className.replace(" active", "");
                }

                // Show the current tab, and add an "active" class to the button that opened the tab
                document.getElementById(`case-studies__dropdown-${tabIndex}`).style.display = "flex";
                event.currentTarget.className += " active";
            }

mixin case-studies__content(source,alt,name,number)
    if number === '1-1' || number === '2-1'
        button(onclick=`handleSmartContractsSwitch(event,"${number}")`).case-studies__content-item.content-item.active
            .content-item__img
                +webpImg('lazy','img/' + source,'png',alt)
            h4.content-item__name=name
    else
        button(onclick=`handleSmartContractsSwitch(event,"${number}")`).case-studies__content-item.content-item
            .content-item__img
                +webpImg('lazy','img/' + source,'png',alt)
            h4.content-item__name=name

mixin team
    a(name="team")
    .team
        .background-img
            +webpImg('lazy','img/background-team','png','background-img')
        +block-header("Team","A team of highly qualified specialists:")
        .team__tabs
            .tabs__tablinks.tablinks
                button(type='button' id='team__development-tab__button' onclick='handleTeamClick(event,"development")').team__tablinks__link.tablinks__link.link-active Development
                button(type='button' id='team__management-tab__button' onclick='handleTeamClick(event,"management")').team__tablinks__link.tablinks__link Management
            #team__development-tab.team__content
                .content__card
                    h3.content__card__post Backend Team Lead
                    h4.content__card__name Maksim Strenk
                    p.content__card__description Development experience 6 years, in blockchain 4 years
                    .content__card__exp
                        h5.content__card__exp__title Completed projects
                        ul.content__card__exp__list
                            li.content__card__exp__list__item MyWish Backend (4 years)
                            li.content__card__exp__list__item Implementation of UTREEXO and HTLC for the Bitcoin network
                            li.content__card__exp__list__item Made the current Ducatus Exchange
                            li.content__card__exp__list__item Experienced in deploying and syncing Ethereum and Bitcoin full nodes
                        .content__card__exp__stacks
                            h5.stacks__title Stacks:
                            -var stacks = ['Python', 'Solidity', 'JavaScript', 'C', 'OpenZeppelin', 'GSN', 'NPM', 'Docker Hub', 'Gunicorn', 'Supervisord', 'PyPi', 'USWSGI', 'PostgreSQL', 'MongoDB'];
                            ul.gray-list
                                each stack in stacks
                                    li.stacks__item.gray-list__item=stack
                .content__card
                    h3.content__card__post Blockchain Team Lead
                    h4.content__card__name Nikita Tepelin
                    .content__card__exp
                        h5.content__card__exp__title Experience:
                        ul.content__card__exp__list
                            li.content__card__exp__list__item smart contract development collaterized stable coin
                            li.content__card__exp__list__item developed by ZK proof anonymizer
                            li.content__card__exp__list__item development of OTC exchange
                            li.content__card__exp__list__item yeild-farming / staking contracts development
                        .content__card__exp__stacks
                            h5.stacks__title Stacks:
                            -var stacks = ['Solidity', 'OpenZeppelin', 'Truffle', 'npm', 'C++', 'web3'];
                            ul.gray-list
                                each stack in stacks
                                    li.stacks__item.gray-list__item=stack
                .content__card
                    h3.content__card__post Frontend Team Lead
                    h4.content__card__name Nikita Sireishikov
                    .content__card__exp
                        h5.content__card__exp__title Experience:
                        ul.content__card__exp__list
                            li.content__card__exp__list__item manual compilation of transactions to send for Bitcoin and Ethereum networks on node.js
                            li.content__card__exp__list__item development of nodes for interacting with the blockchain on node.js
                            li.content__card__exp__list__item development of web-wallets in Angular
                            li.content__card__exp__list__item development of a frontend for interacting with smart contracts through the backend
                            li.content__card__exp__list__item Axion Dashboard front-end development for interacting with smart contracts directly (web3j and web3js) - Axion
                        .content__card__exp__stacks
                            h5.stacks__title Stacks:
                            -var stacks = ['Express', 'Apollo', 'TypeScript', 'GraphQL', 'Angular', 'Vue', 'JS', 'MobX', 'NodeJS', 'Vuex', 'iOS Developing (Swiftui)', 'web3'];
                            ul.gray-list
                                each stack in stacks
                                    li.stacks__item.gray-list__item=stack
            div(style='display:none')#team__management-tab.team__tabs__content
        ul.team__overview
            li.team__overview__item
                .team__overview__item__number 16
                .team__overview__item__primary-text.text Backend team
                .team__overview__item__secondary-text.text 16 developers
            li.team__overview__item
                .team__overview__item__number 13
                .team__overview__item__primary-text Frontend team
                .team__overview__item__secondary-text 12 developers
            li.team__overview__item
                .team__overview__item__number 10
                .team__overview__item__primary-text Smart Contracts team
                .team__overview__item__secondary-text 6 developers
            li.team__overview__item
                .team__overview__item__number 7
                .team__overview__item__primary-text Project managers
            li.team__overview__item
                .team__overview__item__number 3
                .team__overview__item__primary-text Designers
            li.team__overview__item
                .team__overview__item__number 2
                .team__overview__item__primary-text Analytics
            //script for tabs switch
            script.
                function handleTeamClick(evt, tabIndex) {
                    // Declare all variables
                    var i, tabcontent, tablinks;

                    // Get all elements with class="tabcontent" and hide them
                    tabcontent = document.getElementsByClassName("team__tabs__content");
                    for (i = 0; i < tabcontent.length; i++) {
                        tabcontent[i].style.display = "none";
                    }

                    // Get all elements with class="tablinks" and remove the class "active"
                    tablinks = document.getElementsByClassName("team__tablinks__link");
                    for (i = 0; i < tablinks.length; i++) {
                        tablinks[i].className = tablinks[i].className.replace(" link-active", "");
                    }

                    // Show the current tab, and add an "active" class to the button that opened the tab
                    document.getElementById(`team__${tabIndex}-tab`).style.display = "flex";
                    evt.currentTarget.className += " link-active";
                }

mixin our-partners
    a(name="partners")
    .our-partners
        .background-img
            +webpImg('lazy','img/background-partners','png','background-img')
        +block-header("Our partners","")
        -var partners = ['binance', 'quras', 'changelly', 'eos', 'axion', 'rsk', 'okex', 'neo', 'waves', 'tron', 'ducatus', 'enq', 'teambrella', 'lancor', 'bw'];
        ul.our-partners__partners
            each partner in partners
                li.our-partners__partner
                    .img-container
                        +webpImg('lazy',`img/logo-partners-${partner}`,'png',`${partner}`)

mixin contact-us
    a(name="contact-us")
    .contact-us
        .background-img
            +webpImg('lazy','img/background-contact','png','background-img')
        +block-header("Estimate your project now!","Our stack consists of languages that are productive, reliable, and scalable. Discover how they can help build better software.")
        form.contact-us__form
            input(type='text' onfocus="this.placeholder = ''" onblur="this.placeholder = 'Name'" placeholder='Name').contact-us__form__input
            label(for="").visually-hidden Enter your name
            input(type='text' onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your contact (telegram, email, ...)'" placeholder='Your contact (telegram, email, ...)').contact-us__form__input
            label(for="").visually-hidden Enter how we can contact with you, like telegram, email, etc
            input(type='textarea' onfocus="this.placeholder = ''" onblur="this.placeholder = 'Briefly describe your project or idea'" placeholder='Briefly describe your project or idea').contact-us__form__input
            label(for="").visually-hidden Briefly describe your project or idea
            button(type='submit' onclick='openPopUp(event)').contact-us__form__submit-btn.btn.btn-orange.btn-rounded Submit request
        #contact-us-popup.contact-us__popup.popup
            h3.popup__title Thanks for your request!
            button(onclick="togglePopUp()").btn.btn-orange.btn-rounded.popup__button-ok Close/ok
            button(onclick="togglePopUp()").btn.popup__button-close.icon.icon-close
            .background-img.background-img-left
                +webpImg('lazy','img/background-popup-left','png','background-popup-left')
            .background-img.background-img-right
                +webpImg('lazy','img/background-popup-right','png','background-popup-right')
        script.
            function openPopUp(evt) {
                evt.preventDefault();
                togglePopUp();
            }
            function togglePopUp() {
                var popup = document.getElementById("contact-us-popup");
                popup.classList.toggle("show");
            }
